.img1,.img2,.img4,.img5{
    height:250px;
    width:40%;
    position:relative;
    left:300px;
}
.p1,.p2,.p3,.p4,.p5{
    font-size:large;
    position:relative;
    left:300px;
    font-size: x-large;
}
button{
    font-size:large;
    color:white;
    background-color: rgb(86, 8, 8);
    position:relative;
    left:515px;
    font-size: x-large;
}
.img3{
    height:200px;
    width:40%;
    position:relative;
    left:300px;
}
.d1,.d2,.d3,.d4,.d5{
    background-color: rgb(243, 242, 242);
}
        #location {
            text-decoration: none;
            color: black;
            float: right;
            font-family: 'Poppins',sans-serif ;
            font-size: large;
        }

        #Nav_bar {
            text-align: center;
            border-top-right-radius:5px ;
            border-top-left-radius:5px ;
            padding-top: 1%;
            padding-bottom: 1%;
        }

        .Nav_ele {
            text-decoration: none;
            background-color: black;
            color: silver;
            font-family: 'Poppins',sans-serif ;
            font-size: x-large;
            margin-left: 2.5%;
            margin-right: 2.5%;
        }
        #home_tail{
            text-align: center;
            font-family: 'Poppins',sans-serif ;
            background-color: black;
            color: silver;
            width: 100%;
            font-size: large;
            border-radius: 5px;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .tail_ele{
            text-decoration: none;
            background-color: black;
            color: silver;
            font-family: 'Poppins',sans-serif ;
            font-size: x-large;
            padding-left: 5%;
            padding-right: 5%;
            border-right: solid silver 2px;
        }